{%extends 'user/base.html'%}
{%block right_content %}
<div class="right_content clearfix">
    <h3 class="common_title2">收货地址</h3>
    <div class="site_con">
        <dl>
            <dt>当前地址：</dt>
            <dd>{{user_address}} ({{user_addressee}} 收) 电话：{{user_phone}} 邮编：{{user_post_code}}</dd>
        </dl>
    </div>
    <h3 class="common_title2">编辑地址</h3>
    <div class="site_con">
        <form action="/user/site/" method="post">
            {%csrf_token%}
            <div class="form_group">
                <label>收件人：</label>
                <input type="text" name="ushou" value="{{user_addressee}}">
            </div>
            <div class="form_group form_group2">
                <label>详细地址：</label>
                <textarea class="site_area" name="uaddress">{{user_address}}</textarea>
            </div>
            <div class="form_group">
                <label>邮编：</label>
                <input type="text" name="uyoubian" value="{{user_post_code}}">
            </div>
            <div class="form_group">
                <label>手机：</label>
                <input type="text" name="uphone" value="{{user_phone}}">
            </div>

            <input type="submit" name="" value="提交" class="info_submit">
        </form>
    </div>
</div>

{%endblock right_content %}
